
@import './bower_components/sass-mediaqueries/media-queries'; 

/*//fonts*/
$fallback: Helvetica,Arial,sans-serif;

$SFProRounded:'SFProRounded',$fallback;
$SFProRounded-medium:'SFProRounded-medium',$fallback;
$SFProRounded-Regular:'SFProRounded-Regular',$fallback;

/*color*/

$color-main : rgba(18, 19, 20, 0.7);
$color-green : #13510e;
$color-orange: #f86700;
$color-lightGreen : #45A43D;
$color-pink : #e53c60;
$color-orange:#f86700;
$color-blue: #1877f2;
$color-border:rgba(18, 19, 20, 0.6);

$sm : 767px;
$ipad:768px;
$intermediate:830px;


/*
Mixins
*/
@mixin all($min, $max) {
    @include mq($media-type: 'all', $min-width: $min, $max-width: $max) {
        @content;
    }
}